# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native - BU KISIM GÜNCELLENDİ 👇
# /android  <-- BUNU SİLDİM (Native klasörleri takip etmelisin)
# /ios      <-- BUNU EKLEME (iOS klasörü Git'e gitmeli)

# iOS specific (CocoaPods ve Build dosyalarını yoksay, gerisini al)
ios/Pods/
ios/build/
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
!default.pbxuser
*.perspectivev3
*.hmap
*.xccheckout
*.xccheckout
xcuserdata
*.derivedData

# Android specific (Android klasörünü açtık ama gereksizleri yoksayalım)
android/build/
android/app/build/
android/.gradle/

# Native keys
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

# generated native folders
.vercel

google-services.json